<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Vue.js To do List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<!-- 
    Próximos pasos:
        - bg-{success-none} si tarea completada
        - checkboxes de finalización
        - eliminar tareas (splice)
        - editar tarea
        - localstorage
        - barra de progreso tareas completadas - propiedad computada
-->

<body>
    <div id="app">
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-6">
                    <h1-title></h1-title>
                    <input type="text" class="form-control my-3" v-model="newKeep" v-on:keyup.enter="addKeep">
                </div>
                <div class="col-sm-6">
                    <h1 v-if="lists.length > 0">
                        {{countTasks}} tarea(s)
                    </h1>
                    <h1 v-else="lists">Crear una tarea</h1>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="item in lists"
                            v-bind:class="item.completed == true ? 'disabled' : ''"
                            @click="item.completed =! item.completed">
                            {{item.keep}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <pre>
                            {{ $data }}
                        </pre>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script type="text/javascript">

        Vue.component('h1-title', {
            template: '<h1>{{h1title}}</h1>',
            data() {
                return {
                    h1title: 'Agregar una tarea'
                }
            }
        });

        new Vue({
            el: '#app',
            data: {
                lists: [],
                newKeep: '',
                quantity: 0,
            },
            methods: {
                addKeep: function () {
                    this.lists.push({ keep: this.newKeep, completed: false });
                    this.newKeep = '';
                    console.log({ keep: this.newKeep, completed: false });
                    localStorage.setItem('to-do-list', JSON.stringify(this.lists));
                }
            },
            computed: {
                countTasks() {
                    this.quantity = 0;
                    this.quantity = this.lists.length;
                    return this.quantity;
                }
            },
            created: function () {
                let datosDB = JSON.parse(localStorage.getItem('to-do-list'));
                console.log(datosDB);
                if (datosDB === null) {
                    this.lists = [];
                } else {
                    this.lists = datosDB;
                    console.log(this.lists);
                }
            }
        });
    </script>
</body>

</html>